{{ template "base" .}}

{{ define "title" }} Rock, Paper, Scissors - About {{ end }}

{{ define "content" }}
    <section>
        <div class="container">
            <div class="row">
                <div class="col py-5">
                    <h2 class="py-2">About Juan López</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam in nunc consectetur, tincidunt diam vel, dictum eros. Integer interdum lorem ac accumsan mollis. Proin blandit erat in enim lobortis feugiat. Pellentesque lobortis eget libero non gravida. Integer at ante volutpat augue luctus scelerisque et vitae sem. Maecenas ac aliquet lacus, a laoreet nibh. Curabitur aliquet felis vel lorem cursus, a congue arcu mollis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
                    <p>In vestibulum nisi at convallis laoreet. Nam sit amet aliquet dolor. Vestibulum tempus mollis erat sit amet tincidunt. Fusce vitae odio luctus, tincidunt nunc eu, consectetur ligula. Aliquam et auctor tortor, nec sagittis odio. Duis quis dui turpis. Vivamus efficitur, ex eget venenatis tempor, tortor leo tristique magna, in finibus leo ipsum tincidunt velit. Nam eleifend ex et purus tristique venenatis. Proin id ante urna. Nunc pharetra lorem orci, in semper libero faucibus imperdiet. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
                    <p>Duis rutrum ante et lorem euismod, a posuere tortor semper. Nunc nec orci sit amet metus aliquam imperdiet. Cras molestie felis sit amet metus fringilla rutrum. Mauris efficitur maximus mi. Etiam luctus urna at ipsum pulvinar bibendum. Aenean interdum condimentum tortor in eleifend. Curabitur ut mi efficitur, lobortis ante at, venenatis leo. Aliquam pulvinar pharetra augue eget pellentesque.</p>
                    <p>Nulla mollis a libero ac pulvinar. Cras aliquet consectetur orci at elementum. Suspendisse nulla urna, viverra nec accumsan vitae, pulvinar eu massa. Quisque ac lacinia nunc. Sed massa massa, rhoncus quis sagittis vitae, ullamcorper lacinia urna. Quisque mauris nisl, scelerisque ut sapien et, pharetra mattis mi. Praesent eget elementum turpis, ut dapibus lorem. Fusce sit amet hendrerit massa. Sed leo ipsum, pretium et elit id, interdum semper orci. Sed tincidunt tortor a neque semper euismod. Aenean vitae metus at nulla finibus vehicula a ut arcu.</p>
                </div>
                <ul class="py-3">
                    <li><a href="https://github.com/JuanLopezMELI" target="_blank">Github</a></li>
                    <li><a href="https://facebook.com" target="_blank">Facebook</a></li>
                    <li><a href="https://instagram.com" target="_blank">Instagram</a></li>
                </ul>
            </div>
        </div>
    </section>
{{ end }}